*{font-family: sans-serif;}
a, a:hover, a:active{color:#E56767; text-decoration: none; transition:all 0.7s;}
a:hover{color:#C395C9;}
body{background:#F6F5F5;}
.trigger{margin:2em;}
.mfp-content{background:#fff; margin-top:10px; margin-bottom:10px;}
.modalContent{padding:1em;}
.l-modal-body{max-height:300px; overflow-y: auto; padding:0 1em 0 0;}




@media (min-width:280px){
	.mfp-content{max-width:95%;}
}
@media (min-width:1024px){
	.mfp-content{max-width:70%;}
}
